<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${#authentication.name}"></title>
	<script src="webjars/jquery/jquery.min.js"></script>
</head>
<body>
<div>
	<div style="float: left;">
		<div id="hints" style="padding-bottom: 10px;"></div>
		<div>
			<textarea rows="30" cols="100" id="json"></textarea>
		</div>
	</div>
	<div style="float: left;margin-left: 10px;">
		<form 
			style="color: #fff;cursor: pointer;"
			th:action="@{/logout}" method="post" onclick="this.submit();">
			<button type="submit" style="background-color: black;color: #fff;cursor: pointer;">注销</button>
		</form>
	</div>
</div>
<script type="text/javascript">
	window.CTX = window.ctx = "[(@{/})]".substr(0, "[(@{/})]".length - 1);
	$(document).ajaxSend(function(event, jqxhr, settings) { 
		jqxhr.setRequestHeader("[(${_csrf.headerName})]", "[(${_csrf.token})]");
	});
	$(function () {
		$.get("getCurrentUser", function(data, status){
	        $("#json").html(JSON.stringify(data, null, 2));
	        $.get("getAllHints", function(data, status){
	 	       for (var i = 0; i < data.length; i++) {
	 	    	   if (data.hint === data[i]) {
	 	    		  $("#hints").append("<button style='background: lightgreen;'>" + data[i] + "</button>");
	 	    	   } else {
	 	    		  $("#hints").append("<button>" + data[i] + "</button>");
	 	    	   }
	 	       }
	 	    });
	    });
	});
</script>
</body>
</html>